#board {
    padding-top: 3em;
    text-align: center;
}

.row {
    float: left;
    height: 100px;
    width: 302px;
    clear: both;
    text-align: center;
}

.top { border-bottom: 1px blueviolet;
}

.bottom { border-top: 1px blueviolet;
} 
.left { border-right: 1px blueviolet;
}

.right { border-left: 1px blueviolet;
}

